<!DOCTYPE html>
<html>
  <head>
    <strong><title>Humans for Jar-Jar Binks</title></strong>
    <link rel="stylesheet" href="/styles/styleTwo.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,400i,500,600,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/reciever">Back</a></li>
      </ul>
    </nav>

<div class="main">
  <section>
    <h2 id="importance">Importance</h2>
    <p>You may be wondering, "Why is Jar-Jar Binks important to me?" </br>Well , the most important reason that Jar-Jar is important is that of the plot of the Phantom Menace. Without Mr. Binks' superb acting skills, the movies would have been a complete and utter failure. </br> (because we all know how amazing they are)</p>
  </section>
</div>

  </body>
</html>
