<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../styles/aboutStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer@1.4.5/dist/bouncer.polyfills.min.js"></script>
    <script src="https://kit.fontawesome.com/f5a30c435a.js"></script>
    <script src="/scripts/script.js"></script>
    <meta charset="utf-8">
    <link rel='icon' href='/images/circle_favicon.png' type='image/png'/ >
    <title>whee//about</title>
  </head>
  <nav>
    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/">home</a></li>
      <i class="fas fa-circle fa-4x"></i>
      <li class="logo">whee//</li>
    </ul>
  </nav>
  <body>
    <div class="main">
      <div class="container">
        <div class="box a">
          <div class="paragraphText">
            <p>
              Sometimes, people who use wheelchairs may travel to places only to find out that they can’t even go in due to the building’s design. It may have hallways that aren’t big enough for their wheelchairs or have multiple floors but no elevator or ramp access. That’s why whee// is here. It gives those in wheelchairs an easy, interactive map of how accessible a place is, with the main categories being completely accessible, partially accessible, or not accessible. Spending time looking to see if a place is accommodating can take time, and whee// would rather you use that time and spend it with your family and friends at wheelchair accessible places.
            </p>
          </div>
        </div>
        <div class="box b">
          <div class="signup">

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
