<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../styles/aboutStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer@1.4.5/dist/bouncer.polyfills.min.js"></script>
    <script src="https://kit.fontawesome.com/f5a30c435a.js"></script>
    <script src="/scripts/script.js"></script>
    <meta charset="utf-8">
    <link rel='icon' href='/images/circle_favicon.png' type='image/png'/ >
    <title>whee//about</title>
  </head>
  <nav>
    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/">home</a></li>
      <i class="fas fa-circle fa-4x"></i>
      <li class="logo">whee//</li>
    </ul>
  </nav>
  <body>
    <div class="main">
      <div class="container">
        <div class="box a">
          <div class="imageText">
            <h1><i id="access_icon"class="fas fa-universal-access"></i></h1>
          </div>
          <div class="paragraphText">
              <p>
                Being ‘accessible’ is a fickle term, particularly when it comes to wheelchairs. The level of accessibility could fluctuate from a handicap parking space to a personal concierge depending on the location. Due to this, wheelchair userscan easily run into awkward situations where they can’t go somewhere dueonly to the fact that they have a wheelchair. That’s not fair, right? Right.
                <br><br>This is the very issue that whee// aims to address. Providing those who need it access to accessibility information for the location they want to go to before they go gives people a better quality of life, never having to guess at whether or not they will be able to enjoy themselves.
                </p>
          </div>
        </div>
        <div class="box b">
          <div class="creators">
            <div class="bio">
              <h4>David Castellanos-Benito</h4>
              <p>Resides in Philidelphia, PA, attending Drexel University majoring Computer Science.</p>
              <h4>Carly Cordero</h4>
              <p>Resides in San Diego, CA, attending Arizona State University majoring in Information Technology.</p>
              <h4>Ethan Mooney</h4>
              <p style="padding-bottom: 1.5vh;">Resides in Edmond, OK, attending Oklahoma Christian University majoring Computer Science.</p>
            </div>
            <div class="images">
              <div class="image1">
                <img src="../images/david_photo.jpg" alt="image">
              </div>
              <div class="image2">
                <img src="../images/carly_photo.PNG" alt="image">
              </div>
              <div class="image3">
                <img src="../images/ethan_photo.JPG" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
