<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='icon' href='../images/circle_favicon.png' type='image/png'>
    <link rel="stylesheet" href="../styles/dash.css">
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../scripts/mapScript.js"></script>
    <script type="text/javascript" src="../scripts/time.js"></script>
    <script type="text/javascript" src="../scripts/escape.js">
    </script>
    <script src="https://kit.fontawesome.com/f5a30c435a.js"></script>
    <!-- Maps API link -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmVCl0OPzV0a5jSGpdBmPjY2t7jJd85_o&callback=initMap"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <!-- <div class="header">
      <div id="logo">
        <span id="circle"></span>
        <i class="fas fa-circle fa-4x"></i>
        <h1> whee// </h1>
      </div>
      <div class="name">
        <h2> good afternoon, </h2>
        <h4 id="date"></h4>
        <h4 id="time"></h4>
        <button id="logout" type="submit" name="logout" action="/logoutHandler">logout</button>
      </div>
    </div> -->

    <nav>
      <ul>
        <li class="info"><div class="name">
          <h2> good afternoon, </h2>
          <h4 id="date"></h4>
          <h4 id="time"></h4>
          <form id="margins" action="/logout" method="post">
            <button id="logout" type="submit" name="logout"> logout </button>
          </form>
        </div></li>
        <i class="fas fa-circle"></i>
        <li class="logo">whee//</li>
      </ul>
    </nav>

    <div class="mainBody">
      <form class="mainForm" method="post">
        <label for="user_selected_place">where would you like to go?</label> <br>
        <div class="buttons">
          <select name="place">
            <option id="hold" value="hold">select</option>
            <option value="Space Needle">Space Needle</option>
            <option value="Museum of Pop Culture">Museum of Pop Culture</option>
            <option value="Pike Place">Pike Place Market</option>
            <option value="The Seattle Great Wheel">The Seattle Great Wheel</option>
            <option value="Chihuly Garden and Glass">Chihuly Garden and Glass</option>
            <option value="Seattle Aquarium">Seattle Aquarium</option>
            <option value="Woodland Park Zoo">Woodland Park Zoo</option>
            <option value="Museum of Flight">Museum of Flight</option>
            <option value="Seattle Art Museum">Seattle Art Museum</option>
          </select>

          <button id="submit" type="button" name="submit"   onclick="document.getElementById('window-pop').style.display='block'"> search </button>

        </div>
      </form>

      <div id="map"></div>

      <div id="window-pop" class="pop">
        <div class="box animate">
            <span onclick="document.getElementById('window-pop').style.display='none'" class="close">&times;</span>
        </div>
      </div>

    </div>
  </body>
</html>
