<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://kit.fontawesome.com/f5a30c435a.js"></script>
    <script src="/scripts/script.js"></script>
    <meta charset="utf-8">
    <title>whee//</title>
  </head>
  <nav>
      <ul>
        <li><a href="login.html">login</a></li>
        <i class="fas fa-circle fa-4x"></i>
        <li class="logo">whee//</li>
      </ul>
    </nav>
  <body>
    <div class="main">
      <div class="container">
        <div class="box a">
          <!-- <h1>use a wheelchair?<br>hate going out?<br>meet whee//.</h1>


          <p class="smaller">Sometimes, people who use wheelchairs may travel to places only to find out that they can’t even go in due to the building’s design. It may have hallways that aren’t big enough for their wheelchairs or have multiple floors but no elevator or ramp access. That’s why whee// is here. It gives those in wheelchairs an easy, interactive map of how accessible a place is, with the main categories being completely accessible, partially accessible, or not accessible. Spending time looking to see if a place is accommodating can take time, and whee// would rather you use that time and spend it with your family and friends at wheelchair accessible places.</p> -->
        </div>

        <div class="box b">
          <div class="signup">
              <h2>let's get to know each other.</h2>
              <h4>create a wheell account now</h4>
              <form class="signupForm" action="/dashboard" method="post">
                <input type="text" name="firstName" value="" placeholder="first name">
                <input type="text" name="lastName" value="" placeholder="last name">
                <input type="text" name="email" value="" placeholder="email">
                <h4>choose a secure password</h4>
                <input type="text" name="password" value="" placeholder="password">
                <input type="text" name="passwordRepeat" value="" placeholder="repeat password">
                <button type="button" name="signUpButton">let's go</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
