body{
  top: 0;
  left: 0;
  margin: 0;
  min-width: 100%;
  min-height: 130vh;
}

/*********** Header CSS ***********/
#logo{
  padding-top: 4vh;
  padding-left: 2vw;
  padding-bottom: 3vh;
  position: relative;
  width: 98%;
}

i {
  display: block;
  float: left;
  /* margin-top: 5vh;
  margin-left: 2vw; */
  margin: 35.5px 0px 0px 35.5px;
  color: #ee6c52;
}

.name{
  color: #444444;
  position: inherit;
  top: 0vh;
  right: 5vw;
  text-align: right;
}

h2{
  font-size: 3vw;
  margin: 2vh 0vw 0vh 0vw;
  right: 0;
  text-align: right;
}

h4{
  font-weight: 400;
  text-align: right;
  margin: 3px;
}

#margins{
  margin: 0;
  padding: 0;
}

#logout{
  float: right;
  border-radius: 25px;
  border-style: none;
  background-color: #ee6c52;
  color: white;
  width: 5vw;
  font-family: 'Scada';
  font-weight: 400;
  font-size: 1vw;
}
#logout:hover{
  background-color: #444444;
  color: white;

}
#logout:active{
  background-color: #444444;
  color: white;
}

nav{
  margin: 0 0 0 0;
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 100%;
  background-color: white;
  width: 100%;
  overflow: hidden;

}
nav ul{
  list-style: none;
}
nav ul li{
  float: right;
 }
nav ul li.info{
  float: right;
  margin-right: 85.5px;
}
nav ul li a:hover {
  color: #dddddd;
}
nav ul li.logo{
  float: left;
  display: inline-block;
  /* margin-top: 6.3vh;
  margin-left: 2vw; */
  margin: 50px 50px 50px 15px;
  /* font-size: 2.5vw; */
  font-size: 3.8vh;
  color: #444444;
}
nav a{
  text-decoration: none;
  color: #ee6c52;
  font-size: 25px;
}
nav i{
  display: inline-block;
  float: left;
  /* margin-top: 5vh;
  margin-left: 2vw; */
  margin: 35.5px 0px 0px 35.5px;
  font-size: 8vh;
  color: #ee6c52;
}



/*********** Main Body CSS ***********/

.mainBody{
  position: relative;
  height: 110vh;
  top: 6vh;
  left: 0;
  border-style: none;
  display: grid;
}

label{
  font-family: 'Scada';
  font-weight: 700;
  color: #444444;
  font-size: 2vw;
}


/*********** the buttons where you can select the place and submit it ***********/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#submit{
  position: absolute;
  top: -3vh;
  right: 5vw;
  height: 3vh;
  width: 6vw;
  font-family: 'Scada';
  font-weight: 700;
  font-size: 2vh;
  background-color: #dddddd;
  color: white;
  border: none;
  border-radius: 20px;
}
#submit:hover{
  background-color: #444444;
  color: white;
}

/*********** map ***********/
/* #map { */
  /* position of the map */
  /* position: absolute;
  margin-top: 5vh;
  top: 20vh;
  left: 2.4vw; */
  /* properties of the map */
  /* height: 55%;
  width: 95%;
  border-radius: 20px;
} */

/*********** map2 ***********/
#mapdos{
  position: absolute;
  top: 2.5%;
  width: 95%;
  height: 95%;
  left: 2.4vw;
  border-radius: 20px;
}

.controls {
  position: absolute;
  height: 4vh;
  margin-top: 2vh;
  z-index: 1;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 1vw;
  font-weight: 300;

  outline: none;
  padding: 0 0.76vw 0 1vw;
  text-overflow: ellipsis;
  width: 27.7vw;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#mapdos #infowindow-content {
  display: inline;
}


/*********** pop up css ***********/

.pop{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.close{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7vw;
  font-family: 'Scada';
  font-size: 5vw;
  color: #444444;
}

/* when you hover over the X, the X turns into a red color */
.close:hover, .close:focus {
  color: #ee6c52;
  cursor:pointer;
}

@keyframes zoom {
  from{ transform: scale(0) }
  to{ transform: scale(1) }
}
.animate{
  animation: zoom 0.5s;
}

.box{
  background: #fefefe;    /* box color */
  margin: 7% auto 7% auto;   /* top margin: 7% | right side auto | bottom margin: 7% | left side auto */
  border: 5px solid #dddddd;  /* border width | border style | border-color*/
  border-radius: 10px;
  /* how big and how wide the box is */
  width: 90%;
  height: 100%;
}
/********** Pop-up edits ************/
#results{
  position: absolute;
  left: 45vw;
  top: 25vh;
  font-size: 2.5vw;
}

#listBox{
  border: 3px solid #dddddd;
  border-radius: 20px;
  border-style: none;
  padding: 2vh 2vw 2vh 2vw;
  height: 70vh;
  width: 40vw;
  overflow: scroll;
  position: relative;
  top: 2vh;
  left: 0;

}

#resultlist{
  margin-top: 2vh;
  margin-bottom: 2vh;
}
