body{
  top: 0;
  left: 0;
  margin: 0;
  min-width: 100%;
  min-height: 130vh;
}

/*********** Header CSS ***********/
.header{
  top: 0vh;
  left: 0vw;
  width: 100%;
  position: absolute;
  font-family: 'Scada';
  font-weight: 700;
  color: #444444;
}

#logo{
  padding-top: 4vh;
  padding-left: 2vw;
  padding-bottom: 3vh;
  position: relative;
  width: 98%;
}

#circle{
  height: 10.1vh;
  width: 4.8vw;
  background-color: #ee6c52;
  border-radius: 50%;
  display: inline-block;
}

h1{
  margin: 0;
  font-size: 2.4305555555555554vw;
  top: 6vh;
  left: 8vw;
  position: absolute;
}

.name{
  position: inherit;
  top: 0vh;
  right: 5vw;
}

h2{
  font-size: 3vw;
  margin: 2vh 0vw 0vh 0vw;
  right: 0;
}

h4{
  font-weight: 400;
  text-align: right;
  margin: 3px;
}

#logout{
  float: right;
  border-radius: 25px;
  border-style: none;
  background-color: #ee6c52;
  color: white;
  width: 5vw;
  font-family: 'Scada';
  font-weight: 400;
  font-size: 1vw;
}
#logout:hover{
  background-color: #444444;
  color: white;

}
#logout:active{
  background-color: #444444;
  color: white;
}


/*********** Main Body CSS ***********/

.mainBody{
  position: relative;
  height: 130vh;
  top: 23vh;
  left: 0;
  margin: 20px;
  border: 2px solid #dddddd;
  border-radius: 20px;
  display: grid;
}

label{
  font-family: 'Scada';
  font-weight: 700;
  color: #444444;
  font-size: 2vw;
}

form{
  margin-top: 5vh;
  margin-right: 3vw;
  text-align: right;
}

/*********** the buttons where you can select the place and submit it ***********/
.buttons{
  position: relative;
  top: 4vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select{
  border-style: none;
  border-radius: 20px;
  margin-right: 1em;
  background-color: #ee6c52;
  /* text */
  color: white;
  font-family: 'Scada';
  font-weight: 700;
  font-size: 1.3vw;
  /* box size */
  height: 4vh;
  width: 89%;
}
#hold{
  font-style: italic;
}

#submit{
  height: 4vh;
  width: 6vw;
  font-family: 'Scada';
  font-weight: 700;
  font-size: 2vh;
  border-radius: 20px;
}

/*********** map ***********/
#map {
  /* position of the map */
  position: absolute;
  margin-top: 5vh;
  top: 20vh;
  left: 2.4vw;
  /* properties of the map */
  height: 75%;
  width: 95%;
  border-radius: 20px;
}

/*********** map2 ***********/
#map2{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 5vh;
  left: 2.4vw;
}

/*********** pop up css ***********/

.pop{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.close{
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7vw;
  font-family: 'Scada';
  font-size: 5vw;
  color: #444444;
}

/* when you hover over the X, the X turns into a red color */
.close:hover, .close:focus {
  color: #ee6c52;
  cursor:pointer;
}

@keyframes zoom {
  from{ transform: scale(0) }
  to{ transform: scale(1) }
}
.animate{
  animation: zoom 0.5s;
}

.box{
  background: #fefefe;    /* box color */
  margin: 7% auto 7% auto;   /* top margin: 7% | right side auto | bottom margin: 7% | left side auto */
  border: 5px solid #dddddd;  /* border width | border style | border-color*/
  border-radius: 10px;
  /* how big and how wide the box is */
  width: 90%;
  height: 100%;
}
