*{
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* body{
background-color: #F1FFFA;
} */

nav{

}
nav ul{

}
nav ul li{

 }
nav ul li a:hover {

}
nav a{
  text-decoration: none;
}
nav i{

}
nav i:hover{

}
