*{
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Nav bar Styling */

nav{
  margin: 0 0 0 0;
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 100%;
  background-color: white;
  width: 100%;
  overflow: hidden;

}
nav ul{
  list-style: none;
}
nav ul li{
  float: right;
 }
nav ul li a:hover {
  color: #dddddd;
}
nav ul li.logo{
  float: left;
  display: block;
  margin: 50px 50px 50px 15px;
  font-size: 35px;
  color: #444444;
}
nav a{
  text-decoration: none;
  color: #ee6c52;
  font-size: 25px;
  display: block;
  margin: 55px 55px 55px 35.5px;
}
nav i{
  display: block;
  float: left;
  margin: 35.5px 0px 0px 35.5px;
  color: #ee6c52;
}

/* Main Div and Body Styling */

div.main{
  font-family: "Scada", sans-serif;
  font-weight: 700;
}
body{
  background-color: #444444;
}
h2{
  color: #444444;
  text-align: right;
}
h4{
  color: #dddddd;
  text-align: right;
  font-weight: 400;
  padding: 10px 0;
}

/* Main Page Content FlexBox Styling */

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 85vh;
  background-color: #dddddd;

  /* background-image: url("/images/happy_4.jpg");
  background-repeat: no-repeat;
  background-size: auto auto; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.a {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1.25;

  /* background-color: white;
  border-radius: 20px; */
  align-items: left;
  text-align: left;
}
.a h1{
  font-weight: 700i;
  padding: 5.458515283842795vh;
  font-size: 40px;
  color: white;
  text-align: left;
}
.a h2{
  font-weight: 700i;
  padding: 30px 10px 20px 30px;
  font-size: 65px;
  color: white;
}
.a h3{
  font-weight: 400i;
  padding: 50px 10px 20px 30px;
  font-size: 65px;
  color: white;
}
.a p{
  padding: 2.183406113537118vh 1.091703056768559vh 1.091703056768559vh 5.458515283842795vh;
  font-weight: 400;
  font-size: 20px !important;
  color: #444444;
  text-align: right;
}
.a i{
  padding: 0 0 0 0;
  color: white;
}
.imageText{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: .5;
}
.paragraphText{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: .5;
}
.actualParagraph{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: .5;
}
.headText{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: .5;
}
.b{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /* background-image: url("/images/happy_4.jpg");
  background-repeat: no-repeat;
  background-size: auto auto; */
}
.signup{
  background-color: white;
  border-radius: 20px;
  padding: 3.2751091703056767vh 4.366812227074236vh 3.2751091703056767vh 3.2751091703056767vh;
  height: .5fr;
  width: .75fr;
}

/* Sign up form Styling */

form .signupForm{
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.signupForm input{
  color: white;
  width: 100%;
  text-align: right;
  border-radius: 20px;
  background-color: #dddddd;
  border: none;
  margin: 0.8733624454148472vh 0.5952380952380952vw 0.8733624454148472vh 0px;
  padding: 1.091703056768559vh 0.5952380952380952vw 1.091703056768559vh 0;
}

.error {
	border-color: #ee6c52;
}

.error-message {
	color: #ee6c52;
  font-size: 10px;
	font-style: italic;
  font-weight: 400;
	margin-bottom: 1em;
  text-align: right;
}

 input:focus {
   color: white;
   width: 100%;
   text-align: right;
   border-radius: 20px;
   background-color: #444444;
   border: none;
   margin: 0.8733624454148472vh 0.5952380952380952vw 0.8733624454148472vh 0px;
   padding: 1.091703056768559vh 0.5952380952380952vw 1.091703056768559vh 0;
}
.signupForm input:hover {
      border:none;
      background-color: #444444;
      color: white;
}
::placeholder{
  color: white;
  padding: 0 0 0 0;
}
.signupForm button{
  font-weight: 700;
  background-color: #ee6c52;
  color: white;
  padding: 1.091703056768559vh  1.1904761904761905vw 1.091703056768559vh  1.1904761904761905vw;
  border-radius: 20px;
  float: right;
  border: none;
  margin-top: 10px;
}
 button:hover{
  background-color: #444444;
}
